@{
	ViewBag.Title = "EmptyCart";
}

<div style="width:100%">
	<br />
	<h1>Prekės jūsų krepšelyje</h1><br />
	<h4>Deja, bet jūsų krepšelyje nėra prekių. Užeikite į mūsų parduotuvę ir apsipirkite!</h4> <br /><br />

	<div>
		<button type="button" class="btn btn-info" color onclick="location.href = '@Url.Action("Index", "Main")'">Užeiti į parduotuvę</button>
	</div>
</div>