@{
	ViewBag.Title = "NoOrders";
}

<div style="width:100%">
	<br />
	<h1>Prekės užsakymai</h1><br />
	<h4>Niekad nepirkote, neturite užsakymų . Užeikite į mūsų parduotuvę ir apsipirkite!</h4> <br /><br />

	<div>
		<button type="button" class="btn btn-info" color onclick="location.href = '@Url.Action("Index", "Main")'">Užeiti į parduotuvę</button>
	</div>
</div>


