@model Presentation.Models.PaymentModel

@{
	ViewBag.Title = "NotPaidOrders";
}

@using BusinessObjects.Orders;

	<h1>Bendra informacija apie pirkima</h1>

	<p>@Model.PaymentInformation.OrderStatus.GetOrderStatus()</p>

	@if (@Model.PaymentInformation.PaymentDetails != "")
	{
		<p>Payment status:  @Model.PaymentInformation.PaymentDetails</p>

	}
	
	<br />
	<button type="button" class="btn btn-info" color onclick="location.href = '@Url.Action("OrderHistory", "Client")'">Review your order history</button>

