@model IEnumerable<BusinessObjects.Category>

@{
	ViewBag.Title = "_ItemSearchPartial";
}

<form>
	<div align="center">
		<input id="myInput" type="text" name="Search" placeholder="Information" class="form-control">
		<br />
		<input type="submit" value="Ieškoti prekės" class="trigger btn btn-success">
	</div>
</form>
<hr />