@model Presentation.Models.ItemExportModel

@{
	ViewBag.Title = "Import_Export_Items";
}

	<body>
		<h2>Prekių Importas</h2>

		<h4>
			Importuokite prekes is Excel failo tuojau pat! <br />
			Spauskite 'Browse' mygtuką ir pasirinkite prekių faila
		</h4>

		@{ Html.BeginForm("ImportItems", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" });}
		<p>
			Prekių failo direktorija: @Html.TextBox("file", null, new { type = "file" }) @Html.ValidationSummary(true, "", new { @class = "text-danger" }) <br />
		</p>
		<input type="submit" value="Importuoti prekes" class="btn btn-info" />
		@{ Html.EndForm();
		}


		<br /> <hr />


		<h2>Prekių Eksportas</h2>
		<h4>Paspaudę mygtuką "Eksportuoti prekes" eksportuosite esamas prekes į excel failą</h4>

		@{ Html.BeginForm("ExportItems", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" });}
		<input type="submit" value="Eksportuoti prekes" class="btn btn-info" />

		@{ Html.EndForm();}

		<br />

		<button type="button" class="btn btn-dark" onclick="location.href = '@Url.Action("ModifyItems", "Admin")'">Grįžti į prekių valdymo langą</button>

	</body>