@model BusinessObjects.Item

@{
	ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
		<link rel="stylesheet" href="/Content/css/open-iconic-bootstrap.min.css">
		<link rel="stylesheet" href="/Content/css/animate.css">
		<link rel="stylesheet" href="/Content/css/owl.carousel.min.css">
		<link rel="stylesheet" href="/Content/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="/Content/css/magnific-popup.css">
		<link rel="stylesheet" href="/Content/css/aos.css">
		<link rel="stylesheet" href="/Content/css/ionicons.min.css">
		<link rel="stylesheet" href="/Content/css/bootstrap-datepicker.css">
		<link rel="stylesheet" href="/Content/css/jquery.timepicker.css">
		<link rel="stylesheet" href="/Content/css/flaticon.css">
		<link rel="stylesheet" href="/Content/css/icomoon.css">
		<link rel="stylesheet" href="/Content/css/style.css">
	</head>

	<body class="goto-here">



		<script src="/Content/js/jquery.min.js"></script>
		<script src="/Content/js/jquery-migrate-3.0.1.min.js"></script>
		<script src="/Content/js/popper.min.js"></script>
		<script src="/Content/js/bootstrap.min.js"></script>
		<script src="/Content/js/jquery.easing.1.3.js"></script>
		<script src="/Content/js/jquery.waypoints.min.js"></script>
		<script src="/Content/js/jquery.stellar.min.js"></script>
		<script src="/Content/js/owl.carousel.min.js"></script>
		<script src="/Content/js/jquery.magnific-popup.min.js"></script>
		<script src="/Content/js/aos.js"></script>
		<script src="/Content/js/jquery.animateNumber.min.js"></script>
		<script src="/Content/js/bootstrap-datepicker.js"></script>
		<script src="/Content/js/scrollax.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
		<script src="/Content/js/google-map.js"></script>
		<script src="/Content/js/main.js"></script>
	</body>
</html>