@{
	ViewBag.Title = "SuccessfulExport";
}

<h1>Sėkmingai eksportvaote prekes į failą </h1>

<h3>Excel failas su prekėm buvo eksportuotas į projekto aplanką "Content/Prekes</h3> <br />

<div style="width:100%">
	<button type="button" class="btn btn-info" color onclick="location.href = '@Url.Action("ModifyItems", "Admin")'">Grįžti į prekių valdymo puslapį</button>
</div>