
@{
	ViewBag.Title = "SuccessfulImport";
}

<h1>Sėkmingai impotavote prekes iš failo į parduotuvę</h1> <br />

<div style="width:100%">
	<button type="button" class="btn btn-info" color onclick="location.href = '@Url.Action("ModifyItems", "Admin")'">Grįžti į prekių valdymo puslapį</button>
</div>