@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "InternalError";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<hr />
<div class="jumbotron">
    <div class="row align-items-center justify-content-center">
        <h1 class="text-center ">Opps...</h1>
    </div>
    <br/>
    <div class="row align-items-center justify-content-center">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Main")'">For now leave this</button>
    </div>
</div>